{# src/Project/MoviesBundle/Resources/views/Info/index.html.twig #}
 {% extends "ProjectMoviesBundle::layout.html.twig" %}

{% block content %}
     <div class="info">
	<h3>Information</h3>
	<h4>How to buy in our online store</h4>
<p>The process of buying goods in our store is no different from the usual trip to the supermarket
 in the yard of your house. However, there are some significant differences - you do not have to 
 push in the queues in front of shop windows, trying to see you like goods, moreover, you do not 
 even need to leave home! The selected items will bring you directly to your home!</p>
<h4>Product Search</h4>
<p>The range of our online store is constantly updated. To find a product you are interested in a 
DVD, you need to take advantage of our directory. For a quick search DVD drive, you can use the search system. 
To do this, type in the search box and click the name of the movie to find. If you can not find the movie in our online
shop send a message from this form and we will certainly be able to find it for you.
</p>
 {% endblock %}