{% extends "ProjectMoviesBundle::layout.html.twig" %}

{% block content %}
    <h1>Order creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('order') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
